<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calulator</title>
</head>

<body>
    <h1>Calculator</h1>
    <form action="/calculate" method="post">
        <p>
            <input type="number" name="x" id="x" required>
            <select name="op" id="op">
                <option value="add">+</option>
                <option value="minus">-</option>
                <option value="multiply">&times</option>
                <option value="divide">&divide</option>
            </select>
            <input type="number" name="y" id="y" required>
        </p>
        <p>
            <input type="submit" value="Calculate!">
        </p>
    </form>
</body>

</html>